html {
  font-family: 'Press Start 2P', Helvetica, Times;
  background-color: black;
}

/* Main Containers */
.outer-container {
  height: 600px;
  width: 855px;
  background: #eee;
  border: 5px solid #ccc;
}
.game-window {
  height: 100%;
  width: 600px;
  background: url(../img/space.png);
  -webkit-animation:80s scroll infinite linear;
  -moz-animation:80s scroll infinite linear;
  -o-animation:80s scroll infinite linear;
  -ms-animation:80s scroll infinite linear;
  animation:80s scroll infinite linear;
  border-right: 3px solid #53f;
  float: left;
}
.status-window {
  height: 100%;
  width: 250px;
  background: #feb;
  float: right;
}

.game-panel {
  position: fixed;
  width: 350px;
  left: 125px;
  text-align: center;
  color: white;
}

#game-over-panel {}

#start-panel {}

.game-button {
  padding: 20px 0px 20px 0px;
  background-color: green;
  margin-right: auto;
  margin-left: auto;
}
.game-button:hover {
  background-color: lightgreen;
}

.settings-button {
  width: 150px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  color: white;
  cursor: pointer;
}
.settings-button:hover {
  background-color: darkgray;
}
.settings-button:active {
  background-color: black;
}

#settings-rate {
  width: 50px;
}

/* Game Objects */
#enterprise-1 {
  top: 530px;
  left: 0px;
  position: relative;
  display: inline-block;
  outline: 1px solid white;
}
#enterprise-2 {
  top: 530px;
  left: 0px;
  position: relative;
  display: inline-block;
  outline: 1px solid white;
}
.rocket {
  position: absolute;
}
.rocket img {
  height: 40px;
}
.asteroid {
  position: absolute;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}
